version: '3.8'

services:
  app:
    build: .
    restart: always
    ports:
      - "3000:3000"
    shm_size: '2gb'  # Critical for Chromium
    environment:
      - NODE_ENV=production
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
      - TEMPLATES_DIR=/app/templates  # Template directory in container
      - PUBLIC_DIR=/app/public          # Public directory in container
    volumes:
      - .env:/app/.env
      - ./services/credentials:/app/credentials
      - ./templates:/app/templates
    dns:
      - 8.8.8.8
      - 8.8.4.4