version: '3.8'

services:
  app:
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      # Add other environment variables as needed
    volumes:
      - .env:/app/.env
      - ./services/credentials:/app/credentials
      - ./templates:/app/templates
    dns:
      - 8.8.8.8
      - 8.8.4.4