<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Booking Cancelled</title>
    <meta name="description" content="Booking Canceled Email Template.">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <div style="padding: 0px 4px;">
        <p>Dear {{guest_name}},</p>
        <p style="margin-bottom: 4px;">Your booking from {{ arrivalDate }} to {{ departureDate }} has been cancelled.</p>
        <p style="margin-bottom: 4px;">As per our <a href="https://sargoodoncollaroy.com/24-privacy-dignity-and-confidentiality-policy/" target="_blank"><span style="text-decoration: underline;"> Terms and Conditions</span></a>, if you have given less than 7 days notice of cancellation, there will be a charge of 100% of the fee (up to a maximum of 7 nights).</p>
        <p style="margin-bottom: 4px;">If you have any questions or would like to reinstate your booking, please do not hesitate to contact us.  You can also make a new booking by <a href="https://bookings.sargoodoncollaroy.com/auth/login" target="_blank"><span style="text-decoration: underline;">logging in here</span></a>.</p>
        <p>Regards,</p>
        <p style="margin-bottom: 4px;">Sargood Reception</p>
        <p>Ph: 02 8597 0600</p>
        <p><a href="mailto:info@sargoodoncollaroy.com.au">info@sargoodoncollaroy.com.au</a></p>
    </div>
</body>

</html>