<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Booking Date of Stay</title>
    <meta name="description" content="Booking Date of Stay Email Template.">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <div style="padding: 0px 4px;">
        <p>Hi {{guest_name}},</p>
        <p style="margin-bottom: 4px;">We&apos;ve noticed you have an incomplete booking to stay at Sargood on Collaroy</p>
        <p style="margin: 12px 0px; padding-left: 8px"><strong>Booking Dates: {{ dateOfStay }}</strong></p>
        <p style="margin-bottom: 4px;">If you would like to secure your booking please Log In Here to complete it.</p>
        <p style="margin-bottom: 4px;">If you are having any issues with submitting your booking please give our friendly team a call on (02) 85970600 who will be able to assist.</p>
        <p style="margin-bottom: 8px;">We&apos;re looking forward to welcoming you to Collaroy soon.</p>
        <p>Regards,</p>
        <p style="margin-bottom: 4px;">Reception</p>
        <p>Ph: 02 8597 0600</p>
        <p><a href="mailto:info@sargoodoncollaroy.com.au">info@sargoodoncollaroy.com.au</a></p>
    </div>
</body>

</html>