<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Booking Declined</title>
    <meta name="description" content="Booking Declined Email Template.">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <div>
        <p>Dear {{guest_name}},</p>
        <p style="margin-bottom: 4px;">Thank you for your enquiry to stay at Sargood on Collaroy.</p>
        <p style="margin-bottom: 4px;">Unfortunately you have not met the eligibility criteria to use our Spinal Cord Injury specialist accommodation service.</p>
        <p style="margin-bottom: 4px;">However, if you are local to Collaroy, you may be interested in accessing our Allied Health and other community services at our onsite clinic at Sargood.  
            For more information, you can speak to our friendly team by calling 1800 329 142, emailing RRLW.Sargood@royalrehab.com.au, or visiting <a href="https://royalrehablifeworks.com.au/collaroy/" target="_blank">https://royalrehablifeworks.com.au/collaroy/</a>.</p>
        <p>Regards,</p>
        <p style="margin-bottom: 4px;">Sargood on Collaroy</p>
        <p>Ph: 02 8597 0600</p>
        <p><a href="mailto:info@sargoodoncollaroy.com.au">info@sargoodoncollaroy.com.au</a></p>
    </div>
</body>

</html>