<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Booking Amended</title>
    <meta name="description" content="Booking Confirmed Email Template.">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <div style="padding: 0px 4px;">
        <p>Dear {{guest_name}},</p>
        <p style="margin-bottom: 4px;">You have requested a booking amendment.</p>
        <p style="margin-bottom: 4px;">Our team will be in touch with you if any of your requested changes are not possible, or send through a confirmation email if they are.</p>
        <p style="margin-bottom: 4px;">You can also check the details of your booking, or make a new reservation at any time, by logging in here: <a href="https://bookings.sargoodoncollaroy.com/auth/login" target="_blank">here</a></p>
        <p>Regards,</p>
        <p style="margin-bottom: 4px;">Sargood on Collaroy</p>
        <p>Ph: 02 8597 0600</p>
        <p><a href="mailto:info@sargoodoncollaroy.com.au">info@sargoodoncollaroy.com.au</a></p>
    </div>
</body>

</html>