<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Booking Approved</title>
    <meta name="description" content="Booking Email Template.">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <div>
        <p>Dear {{guest_name}},</p>
        <p>Thank you for submitting your booking enquiry. To continue, please <a href="{{set_new_password_link}}">click here</a> to create an account.</p>
        <p>Regards,</p>
        <p style="margin-bottom: 4px;">Sargood on Collaroy</p>
        <p>Ph: 02 8597 0600</p>
        <p><a href="mailto:info@sargoodoncollaroy.com.au">info@sargoodoncollaroy.com.au</a></p>
    </div>
</body>

</html>