<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Account Creation</title>
    <meta name="description" content="Account Creation Template.">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <div>
        <p>Dear {{guest_name}},</p>
        <p>
            Thank you for creating an account. To complete your registration, 
            please <a href="{{set_new_password_link}}">click here</a> to setup your password. 
            If you have any questions, feel free to reach out to our friendly team on (02) 8597 0600.
        </p>
        <p>Regards,</p>
        <p style="margin-bottom: 4px;">Sargood on Collaroy</p>
        <p>Ph: 02 8597 0600</p>
        <p><a href="mailto:info@sargoodoncollaroy.com.au">info@sargoodoncollaroy.com.au</a></p>
    </div>
</body>

</html>