<!doctype html>
<html lang="en-US">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Booking Highlights</title>
  <meta name="description" content="Booking Highlights Email Template.">
  <style type="text/css">
    a:hover {
      text-decoration: underline !important;
    }
  </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
  <div style="padding: 0px 4px;">
    <p>Dear {{guest_name}},</p>
    <p style="margin-bottom: 4px;">Your account has been deleted. This may have been for one of the following reasons:</p>
    <ul style="margin-bottom: 4px;">
        <li>You have not met our eligibility criteria to stay with us</li>
        <li>You requested your account to be deleted</li>
    </ul>
    <p style="margin-bottom: 4px;">If you believe your account was deleted in error please contact us so we can assist you.</p>
    <p>Regards,</p>
    <p style="margin-bottom: 4px;">Sargood on Collaroy</p>
    <p>Ph: 02 8597 0600</p>
    <p><a href="mailto:info@sargoodoncollaroy.com.au">info@sargoodoncollaroy.com.au</a></p>
</div>
</body>

</html>