<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Reset Password Email Template</title>
    <meta name="description" content="Reset Password Email Template.">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <div>
        <p>Hi {{coordinator_name}},</p>
        <p>We have received a booking request from {{guest_name}}, {{icare_or_ndis_number}}.</p>

        <p>The booking request details are:</p>
        <p><strong>Arrival: </strong>{{check_in_date}}</p>
        <p><strong>Departure: </strong>{{check_out_date}}</p>


        <div style="padding-top: 10px; padding-bottom: 10px">
            {{#each rooms}}
                <p><strong>Room Type: </strong>{{room_type}}</p>
                <!-- <p><strong>Rate per night: </strong>${{room_package_price}}</p> -->
            {{/each}}
        </div>

        <p><Strong>Package Type: </Strong>{{package_type}}</p>
        {{#if funder}}
            <p><strong>Funder: </strong>{{funder}}</p>
        {{/if}}
        <p>{{reason_for_stay}}</p>

        <p>Link to Terms and Conditions including Cancellation Policy:&nbsp;
            <a href="https://sargoodoncollaroy.com/terms-and-conditions/">Terms and Conditions | Sargood on Collaroy</a>
        </p>


        <p>Pease ensure that funds are available or contact us to discuss further.</p>

        <p>Kind Regards,</p>

        <p><strong>Sargood Team</strong></p>
    </div>
</body>

</html>

<!-- Hi < funder contact name>,

We have received a booking request from <guest name>, <NDIS number>.

The booking request details are;

Arrival <arrival dd/mm/yy>

Departure <departure dd/mm/yy)

<Room Type>

<Package Type>

Rate per night <Room Package Rate ($)>

<Reason for Stay>

Link to Terms and Conditions including Cancellation Policy: https://sargoodoncollaroy.com/terms-and-conditions/

Pease ensure that funds are available or contact us to discuss further.

Kind Regards,

The Sargood Team -->